[2012-11-04 18:11] michael opened #1 "Initial Substance Hub Specs"
So the first thing we'd need, is a service that receives, stores and renders Substance Documents.
1. Store multiple versions (snapshots) of a document using the Substance App.

`POST /documents`

A post service that takes a substance document as the body. The substance doc includes an id field, so we can either create a first or subsequent version in the hub database.

This is how the document loo

[2012-11-04 23:44] yuchi commented on #1
Ideas straight out of my mind.

## Functional

### ID creation

Identification should be made by the hubs which the client connected to. In the first project iteration you expressed the desire to have multiple hubs, a git like distribution, if I'm not wrong. That means also the there should some kind of protocol to transmit documents and histories, so the private development of Substance Hub will

[2012-11-05 07:52] michael commented on #1
**Ad ID Creation**: Collisions should be _very_ rare. as the clients generate unique ids just like Git does it. It would be a good idea to check for existing guids on the server, just to ensure we're not overwriting a previously published doc.

**History**: The most important thing we need for the new Substance release is a way to simply publish snapshots. Once we have that thinking about ways to

[2012-11-05 09:11] michael commented on #1
Oh and regarding IDs: Once we have the authentication system and networks setup we can make documents available by username/docname or networkname/docname.

[2012-11-05 11:09] yuchi commented on #1
About IDs: that's true!

About PG's JSON: looks like it's just a different semantic for TEXT, so when you export a row as JSON it's not converted to a string, but it's interpreted as a JSON object. http://blog.redfin.com/devblog/2012/03/json_in_postgres.html This article is old, but they did it without the offical support so...

[2012-11-05 14:32] michael commented on #1
Nice. Give it a shot. I mean.. it's not a big deal if we use just the TEXT for now and do the serialization/deserialization ourselves (if this saves you some time).

Thaanks! :)

[2012-11-12 21:25] yuchi commented on #1
This night I'll push some code. Once you guys give me directions and approve a milestone we can put on a working Heroku app or similar to start some real tests.

Goals:
- Authentication
- Initial API structure (full document CRUD)

Next step:
- OAuth 1.0a (I'm not an OAuth 2 fan) authorization steps
- Initial work on display

[2012-11-12 21:29] vectorsize commented on #1
That is great news @yuchi !! I'm really looking forward to see the hub progressing!

[2012-11-13 01:01] yuchi commented on #1
Sorry, didn't do in time. I'll push things tomorrow.

Edit: did -> do

[2012-11-13 13:23] michael commented on #1
Sounds good. Took some time off yesterday but I'm back in business..  :)

Do we really need OAuth at this stage? username+password (over ssl) should do it for now?

[2012-11-13 15:01] yuchi commented on #1
Seemed like a good idea at the moment :) I usually don't like the client to send authentication every request, nor using cookies and persistent connections. Now that I think of it, we could also work with RSA and public keys...

BTW: the most important thing is to put up the structure and let you guys do some work to store the docs and authenticate, for the next auth processes I'll wait for your n

[2012-11-13 15:18] michael commented on #1
Yeah, I'm ready to publish some documents here. :) Just let me know how to auth against the hub. Again, we can add a security as we go. I just can't wait to test the whole workflow. ;)

[2012-11-13 15:43] vectorsize commented on #1
push! push! push! push! :)

[2012-11-13 17:48] Integral commented on #1
Hi all!
Just if you don't know there is excellent [passport.js](https://github.com/jaredhanson/passport) which is already implement [40+ authentication strategies](https://github.com/jaredhanson/passport#strategies-1) and works very good with express.

[2012-11-14 22:36] yuchi commented on #1
Passport is the way to go. If we choose to implement OAuth as providers then we can drop in https://github.com/jaredhanson/passport-http-oauth

[2012-11-15 08:22] vectorsize commented on #1
:+1: (thanks @integral )

[2012-11-15 14:15] Integral commented on #1
It's my pleasure!
@yuchi, you can check [an example](https://github.com/jaredhanson/oauthorize/tree/master/examples/express2). I don't know how the things is going with OAuth 1, but as I know you have no way to auth with OAuth2 in localhost. So if it's true for other APIs (like OAuth 1) we need to keep in mind this fact and decide what to do with authentication in local app.

UPD: Just found this

[2012-11-15 23:56] yuchi commented on #1
In fact!

Sorry for the delay, actually I thought I had almost everything ready to be delivered here, I just needed to wire things up.

Actually I realized I had nothing ready: pgsql not always correctly connected (ident auth), promises api wrapper I built aroung node-postgres pretty useless, hand made authentication which could be a pain to maintain and extend, and a simply wrong API to store doc

[2012-11-16 10:47] Integral commented on #1
Sorry, just read about JSON in postgres. [Note that the JSON datatype is in pgSQL out of the box from september](http://www.postgresql.org/docs/9.2/static/release-9-2.html).
Node-postgres [support this data-type](https://github.com/brianc/node-postgres/issues/208).

[2012-11-17 02:36] michael commented on #1
Can't wait. :)

[2012-11-17 02:37] michael commented on #1
Btw: Did you guys see the updated composer? http://interior.substance.io/substance

[2012-11-17 19:12] Integral commented on #1
@michael <img class="emoji" title=":+1:" alt=":+1:" src="https://a248.e.akamai.net/assets.github.com/images/icons/emoji/+1.png" height="20" width="20" align="absmiddle">

[2012-12-07 12:46] michael commented on #1
Hey @yuchi. Just got back from London. Let's sync up regarding the hub some time next week. Oliver and me are working on backend integration for the coming two weeks. Once we have that stable, we should really look into implementing a simple publishing workflow using the hub.

Talk soon!

-- Michael

[2012-12-07 13:52] vectorsize commented on #1
yay! welcome back @michael !

[2012-12-17 11:03] michael commented on #1
@yuchi? Pls ping us if u're still alive. :)

[2012-12-17 12:09] yuchi commented on #1
Here I am! Let's schedule a team skype talk this week. Tuesday and Thursday I'm free very late (11 PM CET), today and Wednesday and Friday from 8 PM CET.

@vectorsize @michael

[2012-12-17 13:13] michael commented on #1
Hey! :)

Team Skype sounds good. Today/Tomorrow I'm busy in the evening. But Wednesday/Friday would work for me. @vectorsize @oliver----

Just a quick update. We almost have a functional build of the native substance app. So the coming weeks would be perfect for connecting a hub to it. ;)

In order to have a look at the app you need to build it yourself for now (see instructions here: http://inter

[2012-12-17 23:13] vectorsize commented on #1
Allright...Im kindof flexible this week, wednesday might be a bit more complicated during the day but after 8 should be fine :)

[2012-12-19 17:03] vectorsize commented on #1
Is it confirmed @yuchi ? meeting tonight from 20? looking fwd to it
EDIT: went ahead of myself here, sorry, @michael wont be online until later maybe, lets try anyways...my skype username is vectorsize

[2012-12-19 22:08] yuchi commented on #1
I can reach you only after 1 AM, I'm stuck at a reunion..

[2012-12-19 22:17] michael commented on #1
Let's try tomorrow. Or sync up via email. No worries...

On 19.12.2012, at 23:08, Pier Paolo Ramon notifications@github.com wrote:

I can reach you only after 1 AM, I'm stuck at a reunion..

—
Reply to this email directly or view it on
GitHubhttps://github.com/michael/hub/issues/1#issuecomment-11551024.

[2012-12-23 12:08] yuchi commented on #1
Ok, guys. I'm finally home and quite free (remember I'm Italian so I'm stuck with xmas lunches and dinners till the 26th :christmas_tree: :disappointed: )

I'm going to be on skype for few hours (you can find me as `yuchi_it`)

[2012-12-23 16:45] vectorsize commented on #1
So after talking to Pier on skype today we decided to try and have a kickoff meeting sometime next week.

Correct me if Im wrong Pier, but I think the suggestions where perhaps wednesday in the morning or sometime thursday or friday. Im available anytime so it's your call @michael – of course everyone else is welcome to join if you wish.

See you soon!

[2012-12-24 09:48] michael commented on #1
Nice. I can't do Wednesday but Friday would work I think? What are your plans?

My focus currently is on the composer side, polishing the layout and fixing bugs that occur during editing. Also we need to push the campaign somehow (we're not too good at marketing). I thought of sending emails to all existing Substance.io users, which make around 4000 ppl. Do you guys know about good services for ha

[2012-12-24 09:49] Integral commented on #1
Mailchimp is good. They have free option with mailchimp banner.

On 24 December 2012 13:48, Michael Aufreiter notifications@github.comwrote:

[2012-12-26 10:10] vectorsize commented on #1
Friday I'm in, just pick a time!

Also...true, Mailchimp seems to be ok if we dont want to roll our own solution.

[2012-12-31 15:30] michael opened #2 "Campaign Video"
Just recorded a little screencast... http://ma.zive.at/Composer-Screencast.mov

@vectorsize can you use that to tweak our campaign video?

[2012-12-31 15:36] michael commented on #2
1. I'd like to introduce Substance, an open platform for collaborative content composition and sharing of digital documents.
2. In order to manage content, you can use the Substance Composer an easy-to-use text editor that runs on your desktop
3. It has a strong focus on content and structure. You don't even have to worry about formatting. The system takes care of that.
4. Substance lets you unloc

[2012-12-31 15:54] michael opened #3 "Campaing promotion newsletter (email)"
We've got 4900 registered Substance.io users. I'd like to send them an email asking for help and point them to our campaign.

First off, good idea? 2nd, what should the email sound like?

[2012-12-31 15:57] michael commented on #3
I think I'd just hand-code the newsletter manually, using the emails from the database. I think I should just send the email in my own name. I don't want this to look like a monthly newsletter. It's the first email we send to our users... and maybe the last one.

[2013-01-14 02:34] yuchi opened #4 "OAuth Impl"
I'm leaving the `master` branch for the `oauth` branch, to implement all the infrastructure for oauth.

Once done we'll merge to the visual changes I see you (@michael) are doing. See you soon on master :)

Is it ok?

[2013-01-14 07:10] michael commented on #4
Perfect. :)

On 14.01.2013, at 03:34, Pier Paolo Ramon notifications@github.com wrote:

I'm leaving the master branch for the oauth branch, to implement all the
infrastructure for oauth.

Once done we'll merge to the visual changes I see you
(@michaelhttps://github.com/michael)
are doing. See you soon on master :)

Is it ok?

—
Reply to this email directly or view it on
GitHubhttps://github.com/mi

[2013-01-18 11:44] michael opened #5 "Don't forget users who have unsubscribed from the mailing list"
Substance Unsubscribers:

Mick mick.santiagos@gmail.com
Arie Lakeman arie.lakeman@gmail.com
Justin Mazzi jmazzi@gmail.com

[2013-01-19 17:01] michael opened #6 "users.create"
Add validations on the serverside.
- check username format, email format, etc.
- check if username exists
- return proper error object like `{errors: [{field: "username", "message": "Username already exists"}]}`

I have not looked into the passport stuff yet. Maybe this offers some functionality.

@yuchi do you have time to take care of this?

[2013-01-19 18:09] michael opened #7 "POST /authenticate"
This is currently stubbed, so you can login with any username/password combination ;)

I've implemented login/signup for in the Substance Composer, so you can check the latest version from (build from master).

@yuchi Let me know if you have some time during the next two weeks to help out with securing/optimizing the authentication/registration API. I just put everything in place and it works. We

[2013-01-19 18:09] michael commented on #7
https://github.com/substance/composer/blob/master/src/boot.js#L226

[2013-01-19 23:04] yuchi commented on #6
Sure, if you do not mind I'll work on it once main oauth stuff is done.

[2013-01-20 12:07] michael commented on #6
Sure. Just wondering: Is there a use-case for regular OAuth already?

I guess you just wanna share functionality, and implement `/authenticate` on top of the OAuth code?

[2013-01-28 11:42] michael opened #8 "Blog post sketch"
- Intro Alpha-1
- Explaining features
- What's working already
- What's missing in the current app (caveats)
- What are the next steps?

maybe less technical.. but with references to interior.substance.io.

[2013-01-28 12:13] #2 closed, assigned to vectorsize

[2013-01-28 12:13] #3 closed, assigned to nobody

[2013-01-28 12:13] #1 closed, assigned to yuchi

[2013-01-28 16:34] michael opened #9 "Let's fail more silently when a wrong app-id is provided"
[code]

[2013-01-28 18:00] yuchi commented on #9
Mh... why is it logging the error on startup?

[2013-01-28 21:56] michael commented on #9
No on startup it's fine. This is being logged when a new authorization is being created but there's a non-existent client_id provided.

`POST /api/v1/authorizations`

[2013-01-29 08:37] yuchi commented on #9
Argh. Error handling still needs some love

[2013-01-29 09:42] michael opened #10 "Don't respond with a WWW-Authenticate header"
Related to username/pwd prompt problem.

https://github.com/substance/composer/issues/264#issuecomment-12825037

[2013-01-29 09:47] #7 closed, assigned to yuchi

[2013-01-29 09:47] #4 closed, assigned to nobody

[2013-01-29 09:52] michael opened #11 "Logout (delete authorization)"
I'd like to implement a proper logout. However I'd need an API endpoint to destroy an existing authorization. Probably by just sending the token that should be invalidated?

DELETE /api/v1/authorizations/TOKEN

[2013-01-29 10:15] yuchi commented on #11
I don't know. Should the application logout simply by forgetting the access_token?

[2013-01-29 10:16] michael commented on #11
Yeah that be a way. Just thought it might be more secure to safely logout and invalidate a token. (in case someone sniffed it etc.)

Not high priority though.

[2013-01-29 10:18] yuchi commented on #11
(See how GitHub manage authorizations here: https://github.com/settings/applications )

[2013-01-29 10:18] yuchi opened #12 "Mangle non breaking spaces"
Sorry if I put it here on the /hub, probably should be on /composer.

This document:

http://substance-hub.herokuapp.com/documents/35802e700ee0a9294bfbe3b2c7f3bc85

One of the paragraphs is full of `&nbsp;` instead of real spaces.

[2013-01-29 10:20] michael commented on #11
I see. Well, let's make this a low priority. At some point we'll add login/admin panel at substance.io anyway.

[2013-01-29 10:22] michael commented on #10
This has high priority. Since it overwrites Authorization: token TOKEN with the basic auth on each request.

[2013-01-29 10:22] michael commented on #12
This has been fixed already. https://github.com/substance/surface/commit/4fdae7a442a6ea4648b0e4260e22acd3c001a230

[2013-01-29 10:22] #12 closed, assigned to nobody

[2013-01-29 10:25] yuchi commented on #12
Sorry! :)

[2013-01-29 13:39] yuchi commented on #6
Validation is done, horribly executed, but works. At the moment there's no formatting of the errors on the API side.

[2013-01-29 13:43] michael commented on #6
That's great. I had this on my todolist :)

Can you look into #10? That's a critical one.. And I have no idea ;)

[2013-01-29 14:09] yuchi commented on #6
It's my next one :)

[2013-01-29 14:11] michael commented on #6
Yeah. ! :) My next one is this: Supply an optional name for a document (using the settings dialog) so users can access their docs using a pretty URL (USERNAME/DOCNAME).

-> http://substance.io/michael/substance

[2013-01-29 14:16] michael opened #13 "Browse documents based on user scopes"
http://substance.io/michael

should list all published documents of user "michael".

Maybe even add a user profile. Then we need to extend our user model.

[2013-01-29 14:20] michael opened #14 "Update user model and methods in users.js"
Additional fields:
- location (string)
- company (organization ?)
- website

@yuchi what's the data property for? I mean we could just store JSON in it, holding additional properties. But then we can't use SQL-Indexes.

[2013-01-29 14:21] yuchi commented on #13
Users have a '.data' property ready to be used as a JSON formatted object for trivial profile properties

[2013-01-29 14:25] michael opened #15 "v0.1.0"

[2013-01-29 14:25] #15 closed, assigned to nobody

[2013-01-29 14:44] yuchi commented on #14
It's for non applicative data. We do not need indexes for this kind of data. A migration could change that for a field later.

EDIT: property -> field

[2013-01-29 14:45] michael commented on #14
Agreed. :+1:

[2013-01-29 14:57] yuchi opened #16 "Manage db/data migrations"
In house solution? @vectorsize pointed me to very interesting packages.

Let's start the discussion

[2013-01-29 15:06] michael commented on #16
Phew. No idea, I guess that's a larger discussion. But well.. I'd like to have something created by ourselves. Kind of already like the way setup.js works :)   I think we should just extend that, and come up with our own declarative syntax for migrations and only implement what we really need.

[2013-01-29 15:06] michael commented on #16
But we may wanna tackle this after the 0.1.0 release?

[2013-01-29 16:36] michael opened #17 "For the sake of consistency: Rename authorizations.user_uuid to username"

[2013-01-29 16:40] michael opened #18 "Featured docs?"
I wonder if we should moderate /explore, and just show some documents that are marked as featured. I guess it's important to have some quality content that people see as "examples".

Do you guys know any good open commons text repositories? We could just grab some texts from such sources and publish using substance.

[2013-01-29 22:32] michael commented on #6
Just tried creating a new user. It fails silently. Will investigate more tomorrow. Could be a regression related to newly added validation stuff.

[2013-01-29 22:36] michael opened #19 "Changing metadata does not trigger a sync"
As with refs we should have a way to detect local or remote metadata changes and have them synced appropriately.

[2013-01-29 23:03] yuchi commented on #6
As I said there's no formatting of the errors. Where did it fail? API or POST to  /signup?

[2013-01-29 23:05] michael commented on #6
API side: POST to /register

Hotfixing some composer stuff, that's why I'm just capturing hub issues without looking into the details (->tomorrow)

[2013-01-30 08:15] #6 closed, assigned to yuchi

[2013-02-01 09:48] yuchi opened #20 "Responsive design"
@michael the first who want to tackle this will auto-assign to himself the issue.

[2013-02-01 09:49] yuchi opened #21 "Assets and ETags"
ATM every request will download the assets (the separator/hr image for example).

We **must ASAP** configure the app to send decent Cache Headers.

[2013-02-01 11:46] michael commented on #20
Assigned this to the next milestone 0.2.0.

@yuchi did you have a chance to look into #10? would be nice to have this solved as we'll do the release this afternoon. Oh and Oliver confirmed that yesterday the build did not work due to an outage of the boost-svn server.

[2013-02-01 11:52] yuchi commented on #20
About #10: as soon as I reach lunch I solve it, it's in my "urgencies" part of brain.

About swig-v8: cool, I'll try again.

[2013-02-01 13:22] #14 closed, assigned to nobody

[2013-02-01 14:09] yuchi commented on #10
Solved by 2a2cb62bd0ae5df4d4bb50ebc20e98a309b7328c

[2013-02-01 14:09] #10 closed, assigned to yuchi

[2013-02-01 14:09] yuchi commented on #10
Can you please test it a little? I do not have a Composer here!

[2013-02-01 14:09] michael commented on #10
yeah. thanks. will do.

[2013-02-01 14:11] yuchi opened #22 "Refactor Errors wrapping"
Actually errors are manually wrapped to `errors.Unauthorized` in any case.

This is problematic because we lose the error context ("Authentication Failed", ok, but why?)

[2013-02-01 14:33] michael commented on #10
the login dialog doesn't get prompted anymore... but then i can't login with my credentials. :(

[2013-02-01 14:40] yuchi commented on #10
What happens exactly?

[2013-02-01 14:41] michael commented on #10
It fails like so:

[code]

[2013-02-01 14:42] michael commented on #10
Try curl with proper username/password credentials, you'll see.

[2013-02-01 14:42] yuchi commented on #10
Against which route?

[2013-02-01 14:43] yuchi commented on #10
I tested it against POST /authentications and worked like a charm :(

[2013-02-01 14:44] michael commented on #10
oh... is there a new route now?

i thought it's `POST /authorizations`.

[2013-02-01 14:46] yuchi commented on #10
Sorry, my fault, I still confuse them. It's exact, it's still /authorizations.

[2013-02-01 14:46] yuchi commented on #10
I try it again

[2013-02-01 14:47] michael commented on #10
[code]

object is false.

[2013-02-01 14:49] yuchi commented on #10
[code]

[2013-02-01 14:50] yuchi commented on #10
That means that the authentication actually failed! Strange!

[2013-02-01 14:56] michael commented on #10
Hm.. it works with curl now... but not from within the app :/

[code]

[2013-02-01 14:56] michael commented on #10
Here's the code I'm using:

[code]

any ideas?

[2013-02-01 15:08] yuchi commented on #10
Pretty obvious: jQuery username/password does not use the Authorization Header, uses the url as `user:pass@host:port/` And somehow I do not support it.

Could you please rollback to your old version which sent the Header as `"Basic "+base64Encode(username + ":" + password)`? (I'm going to address the url support in another issue)

[2013-02-01 15:09] yuchi commented on #10
Whoops... Probably related: http://stackoverflow.com/questions/9721473/ajax-authorization-header-has-not-been-sent

[2013-02-01 15:11] michael commented on #10
I had to remove:

[code]

and use the header instead of username, password keys... it works now. :)

[2013-02-01 15:17] yuchi commented on #10
Mh... A bunch of issues are coming to the hub!

[2013-02-01 15:23] yuchi opened #23 "Refactor the Content Negotiation"
`application/substance.v1+json` does not work.

[2013-02-01 17:50] yuchi opened #24 "Move to a Jekyll like blog structure"
We'll create .md files in a /blog directory. At startup the application will render the files and store the to serve them correctly.

[2013-02-01 17:51] yuchi commented on #10
The `accepts` issue is now #23

[2013-02-01 17:51] michael commented on #24
Waiit! ;)

In around 4 weeks we'll be able to use Substance as our blog engine.. No need to setup a Jekyll workflow :)

······································································
Michael Aufreiter
Information Design
e: michael@substance.io (mailto:michael@substance.io)
m: +43 664 1533015
w: http://substance.io
Twitter: @_mql

On Friday, February 1, 2013 at 6:50 PM, Pier Paolo Ramon wro

[2013-02-01 17:52] yuchi commented on #24
Gosh I'm stupid sometimes.

[2013-02-01 17:52] #24 closed, assigned to yuchi

[2013-02-01 17:55] yuchi commented on #9
Solved by #10

ATM returns the following:

[code]

[2013-02-01 17:55] #9 closed, assigned to yuchi

[2013-02-01 18:03] yuchi commented on #21
Actually express does it already automatically on production configuration.

[2013-02-01 18:03] #21 closed, assigned to yuchi

[2013-02-01 18:23] yuchi commented on #23
Should we move definitely to the simplier application/json?

Closing for now. I'll come back on it later.

[2013-02-01 18:23] #23 closed, assigned to yuchi

[2013-02-01 18:25] michael commented on #23
I'm signing off too.. I reallly need some rest / sleep. ;)

Thanks so much for the help! :)

[2013-02-02 22:30] michael opened #25 "Think about TOS"
We need to think about those things at some point.

https://tent.is/terms

[2013-02-03 09:17] yuchi commented on #25
Don't we need legal advice? In my company there's a specific person for these problems.

[2013-02-03 19:14] michael opened #26 "Prefer EJS over Jade?"
I find myself disliking the Jade template language... ;) so I wonder if we shouldn't switch to EJS instead.
- we can mix with existing html (i don't like the step of converting html to prooper jade code)
- we use the same templating as on the client-side (Composer)
- I like being able to write javascript code right in the templates. Sure we need to take care we don't put logic into our templates b

[2013-02-03 19:41] yuchi commented on #26
I usually love Jade terse syntax, and most of all I love it's mixin abilities. EJS does not offer a `taglib` like feature. I love Java's JSPs' taglib, they are able to convey common snippets in a html/xml like syntax:

[code]

In jade you can do it similarly (see [the docs](https://github.com/visionmedia/jade#a14) for an example).

Jade, also, force you to remove logics in the views. Every logic w

[2013-02-03 19:46] Integral commented on #26
Do you guys going to use express? 3.x version have changes related to
template engines.

On 3 February 2013 23:41, Pier Paolo Ramon notifications@github.com wrote:

[2013-02-03 19:48] yuchi commented on #26
We''re already on Express 3 ;)

[2013-02-03 19:52] Integral commented on #26
Oh, good.
Btw, I'll gladly join to you next week ;)

On 3 February 2013 23:48, Pier Paolo Ramon notifications@github.com wrote:

[2013-02-03 19:58] yuchi commented on #26
Mh... From (rails based) Hobo's [DRYML](http://hobocentral.net/api_plugins/dryml) (which in my opinion should be written DryML) there's [a node port](https://github.com/jupiter/node-dryml) which implements EJS like syntax which support taglibs in a similar manner... but looks terrible, and DryML itself it's like taking the good parts of JSP **and** the bad parts. It's like taking 10 years old erro

[2013-02-03 19:59] yuchi commented on #26
Oh, @Integral, welcome aboard!

[2013-02-03 20:08] michael commented on #26
@yuchi Yeah I went through all stages of template languages as well. Erb, HAML, SASS, Mustache et al. However for me I figured out even if I break the rules sometimes intentionally, views can be kept dry by just using a dumb templateing mechanism and have less complexity. And then while you're in the middle of implementing an exciting feature, there's nothing wrong with calling Date.toDateString()

[2013-02-03 20:08] michael commented on #26
@Integral welcome! :)

[2013-02-03 21:01] yuchi commented on #26
Mh, ok. Let's make it. We'll have stronger consistencies between the parts of the Substance stack.

But... we should try it a little before going "full dumb" ([quote](http://www.imdb.com/title/tt0942385/)), I'm scared of spaghetti templates. In fact jade forced **me** to stay clean.

[2013-02-04 12:39] michael opened #27 "Taskforce 0.1.0 backlog (pick tasks as you have time)"
This is a response to the "next steps" discussion we had via email.

Backlog for the 0.1.0 Alpha release:
1. Substance API documentation (@michael, @yuchi)
2. Overhaul interior.substance.io as there's some legacy information we should get rid of (@michael, @vectorsize , @yuchi)
3. Substance Store documentation (@oliver----,@michael)

.. more to come.

[2013-02-04 12:46] michael opened #28 "Taskforce 0.2.0 release"
We should take the change and take some time to organise better our codebase for the 0.2.0 release, before we look into implementing new features.

Here's an attempt of most important features I see for the 0.2.0 release

Composer
- Improved build system (@oliver----)
- Plugin System (@michael, @vectorsize)
- New Content Types (images, links)
- Support Networks on the Composer side

Hub
- Code cle

[2013-02-06 23:30] vectorsize commented on #28
Totally agree with you @michael. we should polish before looking into new features.
So after todays talk and keeping what's relevant from michael's previous post:

## General discussion
- Talker app is the new sh*t, now we have an internals discussion room too (The reason I brought Talker app back to the discussion was that constant availability on Skype was really breaking my productivity, and I

[2013-02-07 08:22] yuchi commented on #28
Great sum @vectorsize! ASAP I'm going to create specific issues for every task. We can then prioritize them and start to tackle them with the triage (add tag, assign, put in milestone).

[2013-02-07 10:59] michael commented on #27
Substance API docs should go to the live site, not the internals website.

http://substance.io/api

@vectorsize, would you like to take over some documentation work? Loving your Surface docs :)

[2013-02-07 11:00] michael commented on #28
Nice summary!

I'm getting ready basic image support today. It's looking good. I'll just implement the most critical parts today. We can add support for captions later.

Also thought about link support (UI-wise). Will draw some sketches in the coming days, implementation will be over to you, @vectorsize.

Regarding plugins: After talking yesterday I realized we should first get all functionality i

[2013-02-07 11:06] yuchi commented on #27
About APIs, we should do both the text documentation and JSON documentation: https://api.github.com/

[2013-02-07 11:07] michael opened #29 "Substance Camp"
Let's propose 3 possible start dates (Thursdays):
- April 18th
- April 25th
- May 2nd

Location:

_Linz_

We can use the quasioffice for working, also we're flexible regarding timing. Victor and Pier can crash our couches/guest rooms.

_Rent a space somewhere_

We could rent a lodge or something somewhere, so we can all stay at one place.

I'll post options as they come to my mind here. Regarding

[2013-02-07 11:10] michael commented on #28
Oh there's another priority for 0.2.0 "User Profiles". I guess it's important that people feel at home on Substance, so user profiles need to be pimped (avatar, and some more details regarding the person, followed by all publications).

[2013-02-07 13:10] michael opened #30 "Serious content for the hub"
It'd be nice to have a just small selection of books (not copyrighted) that we could publish on substance.io so people have something to dig into.

E.g.
http://www.gutenberg.org/browse/scores/top

Ideally those books include high quality imagery so we can show off Substance image support as well.

[2013-02-07 13:16] michael commented on #30
http://www.gutenberg.org/files/76/76-h/76-h.htm

[2013-02-07 14:33] michael opened #31 "Cover image"
Now that I'm tackling images I started wrapping my head around how we'd handle cover images, which can be specified per doc (optional).

Cover images are intended to serve for the following purposes:
- Attention (eye) catcher (e.g. on the Hub's document listing, but also on the doc itself)
- High resolution (I guess we'd like them to be high resolution so we can consider them a book cover. We need

[2013-02-07 14:35] michael commented on #26
@yuchi Do you think we should just tackle this? If we'd like to switch to EJS we should do it earlier than later I guess. I'll put my focus more on the composer side for the coming weeks, so maybe you or @vectorsize would like to look into this?

[2013-02-07 18:00] yuchi commented on #31
Oh god it's awesome!! I want it! `</spoiled>`

Imagine how better it was if the title survived the scroll :cool:

[2013-02-07 19:10] yuchi commented on #28
To be tracked and triaged ( **Hub only** )
- [x] Switch to EJS
- [x] Minimum viable admin panel "framework"
- [ ] Dump/comment-out legacy code (eg: signup/login/preferences)
- [ ] User profiles

[2013-02-07 19:11] yuchi commented on #26
Ok, I close this issue. I'm creating the real one.

[2013-02-07 19:11] #26 closed, assigned to nobody

[2013-02-07 19:14] yuchi opened #32 "Switch views to EJS"
- [ ] Remove unused views
- [ ] Switch structure
- [ ] Switch every view

@vectorsize, you're welcome!

[2013-02-07 19:15] yuchi commented on #32
This issue originated on #26

[2013-02-07 19:18] yuchi opened #33 "Administration"
- [x] Create views for administration login
- [ ] Create code structure
- [ ] Define tools for interface? (don't kill me, but what about bootstrap?) (see #34)
- [ ] Create main views
- [ ] Prepare actual sections: users, pubblications... This is for you @michael :)

[2013-02-07 19:20] yuchi opened #34 "Administration interface"
Depends on #33

BTW I **do** love the difference between GitHub style and GitHub Enterprise Admin styles.

[2013-02-07 19:23] yuchi opened #35 "Massive Clean up"
High, high priority

[2013-02-07 19:26] yuchi opened #36 "Textual documentation"
Depends on #35

[2013-02-07 19:28] yuchi opened #37 "JSON Documentation"
Depends on #35

This is mostly a refactor to structure the next API features.

[2013-02-07 21:18] Integral commented on #31
Fantastic! Very beautiful! Can't believe that substance might be so
fantastic
good-looking!

N.B. How can I receive some tasks to work?

On 7 February 2013 22:00, Pier Paolo Ramon notifications@github.com wrote:

[2013-02-08 20:13] yuchi commented on #8
Close, the blog entry it's already there

[2013-02-08 20:14] #8 closed, assigned to vectorsize

[2013-02-08 20:17] yuchi commented on #18
Moving to 0.2

[2013-02-08 21:15] vectorsize opened #38 "Local hub not ready"
Please @yuchi as we spoke earlier, I will need a working CURL command to see if the erro comes from the hub or the Composer. just leave it on a comment here.

Grazie mille!

[2013-02-08 21:17] vectorsize commented on #31
It's great news that you want to help @Integral !!

We are just now working on prioritizing and trying to sort out who does what, once we know we can see how to coordinate with you.

Where you thinking of anything in particular??

[2013-02-08 21:20] michael commented on #16
Assigned to 0.2.0 milestone. Just a thought.. we may want to store a db version number in the database. We can use that number to execute all existing migrations that are greater than that number.

[2013-02-08 21:23] michael commented on #16
For instance:

current db version: 3

migrations:

[1] initial schema
[2] change user.name to user.username
[3] add field created_at to "documents" table.
[4] remove foreign key x
[5] add table networks
[6] add table network_memberships

[2013-02-08 21:28] Integral commented on #31
Hello! It's great! I could try to help with hubs/nodejs stuff, ok?

On 9 February 2013 01:17, Victor Saiz notifications@github.com wrote:

[2013-02-08 22:00] yuchi commented on #16
That's exactly how I implemented it a few months ago for a mobile app with Titanium Mobile (JS on iOS/Android).

It will be pretty trivial to port the logics (which worked flawlessly since september)

[2013-02-08 22:00] yuchi commented on #16
I assign this issue to myself

[2013-02-08 22:03] yuchi opened #39 "Critical: refactored API endpoints"
In my crusade for consistency and code organization, I did a huge refactor of the APIs. Now they do look good, but are completely different, have a look 638582d67eaf90a817cac6f32d0437fc9e4af293

Michael, you'll need to change the Composer calls... sorry!

[2013-02-08 22:04] yuchi commented on #39
BTW, I leaved the old URI in a comment before every endpoint so you'll be able to spot differences.

[2013-02-08 22:16] yuchi opened #40 "Tests"
At this moment I cannot fully reproduce the flow of a pubblication (for example) and I cannot guarantee to @vectorsize that APIs are working right (related to #38).

For this reason I'm going to create tests. I need @michael to implement the flow tests, btw.

Probably I'll use [visionmedia's supertest](https://github.com/visionmedia/supertest)

[2013-02-08 22:17] yuchi commented on #40
Do you guys have some preference for a specific TDD framework? Personally I'd stick to mocha.

[2013-02-08 22:32] yuchi commented on #37
Closed by b90ae9e150c933dc1e422aa5c8a1b4607202b1be

[2013-02-08 22:32] #37 closed, assigned to yuchi

[2013-02-08 22:35] yuchi commented on #35
Only vestigial views remain now. @vectorsize if you don't mind when you start the port to EJS, please remove every unused view.

In my opinion you should start from scratch.

[2013-02-08 22:35] #35 closed, assigned to yuchi

[2013-02-08 22:36] yuchi commented on #37
If you want to see how it looks, point your curl to "http://localhost:3000/api/v1" itself

[2013-02-09 17:42] yuchi opened #41 "Pass res.client when authenticated via token"
ATM token authentication only populates the `user` field. Could be cumbersome.

[2013-02-09 18:26] yuchi opened #42 "Limit results in APIs"
This is a big challenge.

The HTTP `Link` Header should be sent. Queries in data accessors must accept limits and offset (of course), `db.many` should take into account the limit and return specialized information.

[code]

An augmented array could also act as an array for our internal use.

[2013-02-09 18:57] yuchi commented on #22
I think the actual state of error reporting is good enough.

[2013-02-09 18:57] #22 closed, assigned to yuchi

[2013-02-09 18:59] yuchi commented on #40
Basic tests implemented.

[2013-02-10 01:07] yuchi commented on #34
ATM I'm implementing it using Twitter Bootstrap, so I can focus on the features. Is it a problem?

[2013-02-11 16:35] michael commented on #42
Yeah I know. But let's postpone that for now. However one thought I had is giving away API keys on a per request basis. So we can ensure the API is not abused.

[2013-02-11 17:38] vectorsize commented on #40
So I've managed to run the tests in the local hub, here's what I guet:
![](http://f.cl.ly/items/0H1s033c3C302i172w3C/Screen%20Shot%202013-02-11%20at%206.29.14%20PM.png)

Now, does this mean that everything should work as expected?
I'm obviously now running on the latest hub on the master branch and when trying to publish a document with both  the latest master-branch Composer and the latest produc

[2013-02-11 17:38] #40 closed, assigned to yuchi

[2013-02-13 13:55] michael opened #43 "Test Docs"
Can you add to the README a quick tutorial how to run the tests?

[2013-02-13 14:12] yuchi commented on #43
`npm test` :)

[2013-02-13 14:14] michael commented on #43
Updated the README. Thx.

[2013-02-13 14:14] #43 closed, assigned to yuchi

[2013-02-16 14:01] michael opened #44 "Undecidable routes"
I was about to integrate the API changes to the composer.

Here's some troubles I just ran into.

[code]

this route was matched

`/users/:username/documents/:document`

instead of this

`/users/:username/documents/statuses`

I could fix that by changing the order. However we should find a better way to distinguish such routes, because what if someone used the id "statuses" for his document?

One

[2013-02-16 14:55] michael opened #45 "Dealing with breaking changes"
We need a better way to coordinate breaking changes on the API side. At least for me it is quite hard to keep up with a number of API changes that need to be reflected on the composer side.

My suggestion: Let's try to apply API changes in smaller increments, so we can nail them one by one.

Proposed workflow:
1. Suggest an API change using a GitHub Issue. E.g. `POST /register` -> `POST /users`
2.

[2013-02-16 14:56] vectorsize commented on #45
Totally agree – this sort of things can block everyone else's work…

[2013-02-16 15:08] michael commented on #45
Once I'm ready adapting the new API I'm going to host a bleeding edge hub on the substance server.

Will be available at: `http://edge.substance.io` or `http://substance.io:3001`

Maybe we should also look into some continuous integration solutions. Something like this:
- Every push to hub:master triggers a deploy to edge.substance.io
- However the deploy only happens if the testsuite passes throu

[2013-02-16 15:48] yuchi commented on #44
luckily enough this is just a matter of order:

[code]

[2013-02-16 15:50] yuchi commented on #45
About APIs changes: totally agree. I'm sorry for what happened in the last refactor. The testsuite is also there to consolidate development.

About CI: that's perfect. I'm a little bit worried about the database. Is it going to be a different one?

[2013-02-16 15:53] michael commented on #44
Yeah it works now, after I used the correct order.

I don't know the state of the art REST design principles. But is it a good idea to occupy potential id's? In our specific case it's not a problem since doc id's will be shas for the time being. However in future you'll be able to give away names for your document so we could have:

`/users/michael/documents/hello-world` and if I decided to name m

[2013-02-16 15:54] michael commented on #45
Yeah it's a different database for our staging environment.

I just got the new server instance live:

See: http://edge.substance.io (you can also access the admin panel -> http://edge.substance.io/admin)

[2013-02-16 15:55] michael commented on #45
@yuchi I like how the admin panel looks. Now I see why bootstrap is a good idea here. :)

[2013-02-16 15:58] yuchi commented on #45
I hate Bootstrap... but god it's so fast to work with :\

[2013-02-16 15:59] michael commented on #42
@yuchi I was about to write up the API docs. I guess we should give away API keys on a per request basis so we don't need to worry our API is being abused. Also we can get in touch better with potential Substance users.

[2013-02-16 16:00] michael commented on #42
If you agree, pls open up a new ticket.

[2013-02-16 16:03] vectorsize commented on #45
yeah @yuchi but any of the like are the same, just keeps you up and running quick… I had bookmarked other possible alternatives.
[edit] removed the links, these where not the ones haha

[2013-02-16 16:34] yuchi commented on #42
I agree. I'm scared by "/users" :)

[2013-02-16 16:37] michael commented on #42
scared by "/users"? ;)

[2013-02-16 16:39] yuchi commented on #42
It will be a big json :)

[2013-02-17 11:37] michael opened #46 "Implement Collaboration"
One of the most crucial features that is still missing is collaboration. It should be rather easy to add real collaboration to our current stack, so people can invite other to work on their document.

On the Hub:
- Create table `collaborators` which is just a mapping user to document
- Adapt API (`/users/michael/documents`) so users see their own documents plus those docs where they collaborate.

[2013-02-17 11:58] michael commented on #39
Done. Closing. Let's open separate issues for follow-ups.

[2013-02-17 11:58] #39 closed, assigned to michael

[2013-02-17 12:02] michael commented on #36
Since now we have support for links and images, It hink we should wait just a little bit and write up the API docs using Substance.

Blockers so far (working on it)
- Heading Levels
- Code type (will be easy)
- Inline code (also just another annotation type "code" similar to "em" and "str".

[2013-02-17 12:32] michael opened #47 "Implement reset password service"
@yuchi We need a reset password functionality rather sooner than later.

API suggestion

`POST /user/reset_password`

POST data:

[code]

This sends an email to the provided email adress containing a password reset link.

In this case, I guess it's okay to provide a link to a webpage where the user can pick a new password. Then he needs to relogin with his new password using the Composer.

[2013-02-17 13:50] michael commented on #46
Add on thought:
- Anyone should be able to open any Substance document and add annotations (idea, question, error) and comments. Only "collaborators" are

Maybe we should display the active discussion on the hub (published publication) as well.

[2013-02-22 10:42] vectorsize opened #48 "Code out of sync"
The pused code seems to be out of sync, somehow a table documents in the db is missing and [this version of setup.js](https://github.com/michael/hub/blob/70a91ee053d32316db58f2a20b58f493fce720ed/lib/setup.js) that was supposed to create it is totally gone, we need to have a working codebase in one of the branches so that each of us can work on it.

@yuchi could you please take a look at this?

[2013-02-22 10:57] yuchi commented on #48
I crossed the streams with @michael during a refactor. I'll review the changes tomorrow afternoon and fix this up. Thanks @vectorsize to pointing me to this.

[2013-02-22 10:57] yuchi commented on #48
Update: my goal for tomorrow evening is to have a **full** testsuite for the publication flow, exactly for this kind of things.

[2013-02-22 10:58] michael commented on #48
Cool. Please run a test against an empty db to see if seeding the db works.

[2013-02-22 11:05] vectorsize commented on #48
@michael I did empty the db several times already and same happens. There's nowhere in the code where the table documents is being created anymore.

@yuchi that would be great! I would like anyhow to coordinate with you the work on the hub to know what each of us is doing

[2013-02-23 18:23] #48 closed, assigned to yuchi

[2013-02-23 18:52] vectorsize commented on #48
finally working!! thanks :)

[2013-02-24 10:35] vectorsize opened #49 "Design proposals"
So the other day I spent some design hours sketching some design improvements for the hub. I will use this issue to paste the pictures here for ideas and discussions.

_Please see fullscreen_
_…not sure about the colors yet_
## Home page

![hub-home1](https://f.cloud.github.com/assets/1661889/189343/8e7612aa-7e6d-11e2-99cf-4d178ad52715.png)
## Blog post

![hub-blog2](https://f.cloud.github.com/ass

[2013-02-24 11:41] michael opened #50 "May be interesting for us: Javascript Fulltext Search"
Would allow us to implement fulltext search on the client \o/. However, not a priority yet, assigning to "Pipedreaming".

https://github.com/reyesr/fullproof

[2013-02-24 14:34] yuchi commented on #49
I like the palette, but I don't like the rippon design around "Substance"

[2013-02-24 14:38] michael commented on #49
Like it! Maybe use the Substance corporate background color.

[2013-02-24 17:06] michael opened #51 "Network publishing workflow (UI Draft)"
![Screen Shot 2013-02-24 at 5 59 13 PM](https://f.cloud.github.com/assets/2931/189694/e503f7e6-7ea3-11e2-8358-a62736592530.png)

Just did a quick UI draft for the new network publishing workflow. Lots of devils in the detail though. Stuff to think about:
- We need to give the user access to previously published docs, so they can individually delete previous snapshots
- Where is the information sto

[2013-03-03 09:20] michael commented on #32
We keep going with Jade. Closing.

[2013-03-03 09:20] #32 closed, assigned to vectorsize

[2013-03-16 15:16] michael opened #52 "Always identify document by username + id"
Document id's will no longer be global. We'll always scope them by user id. We need to update all related code.

Stuff like:

[code]

needs to turn into:

[code]

[2013-03-16 15:16] michael opened #53 "Always identify document by username + id"
Document id's will no longer be global. We'll always scope them by user id. We need to update all related code.

Stuff like:

[code]

needs to turn into:

[code]

[2013-03-16 15:17] #53 closed, assigned to michael

[2013-03-20 14:53] #52 closed, assigned to michael

[2013-03-20 15:09] michael opened #54 "Create admin interface for networks"
We'll be maintaining networks manually for the time being. Thus we'd need an easy way to add/update/remove networks via the admin panel.

[2013-03-25 16:24] michael opened #55 "UI Draft: Documents of a Network"
I just quickly threw together a quick UI draft about how we could display Substance Networks in a clean way.

We'll have a document cover for all documents. We'll auto-generate unique images that people can replace with their own image if they want so. I guess it's really important we get the presentation right on Substance.io. That's why we wanna have images for everything. :)

![substance-networ

[2013-03-25 17:03] yuchi commented on #55
Cool, who's gonna create the fractal/generative algorithm for the default image of the document?

[2013-03-25 17:06] vectorsize commented on #55
This is looking great! About the fractal I would propose mr Zauner ;)

[2013-03-25 17:08] vectorsize commented on #55
One question though @michael didn't you like my sketch for the networks? I'm half way there with the css for all of it...

Or does this mean we won't use my design proposals

![](https://f.cloud.github.com/assets/1661889/189345/a9f45b9a-7e6d-11e2-8e56-55c779922515.png)

[2013-03-26 10:00] michael commented on #55
Actually my screenshot is showing a different view. It's the network detail view. The squares below correspond to documents not networks. Regarding design: Go ahead with yours, as I said I really like it. My only suggestion would be keeping the colors in good old-substanceish. But anyway.. you are having the lead for hub UI development. :) Just wanted to add input.

[2013-03-26 10:22] vectorsize commented on #55
Oh! my bad… true, we could use the same layout with some network specific stuff added to it though. Now I understand, as for the colors yes, we now have the substanceish colors, remember some working sketches I had on my [dropbox](https://dl.dropbox.com/u/606131/substance-hub/index.html). Soon to be merged, if I ever manage to focus on coding while in Malmö :/

[2013-03-26 10:24] michael commented on #55
One thing at a time. :) Don't hurry. I'm also busy with my freelancing stuff. However.. let's join all forces in April. :)

[2013-03-29 09:39] michael opened #56 "Medium.com"
Just had a look at medium.com again after some time. They have a pretty good minimalistic article design. Also you can comment on content elements (like with Substance).

Also like their presentation of Collections (which correspond to networks in our case)

Collections listing:

https://medium.com/collections

Collection detail:

https://medium.com/21st-century-architectures

Article:

https://me

[2013-03-31 17:43] michael opened #57 "Readmatter.com"
Seems to be a cool site. They sell one full article for 99c.

https://www.readmatter.com

I wonder how many people are willing to pay for good content. And without all the app-store-subscription madness.

[2013-03-31 19:59] michael commented on #55
Did another mockup on the article layout. I've implemented cover images for the composer, so now we can have cover image on the top of each document. By default we'll have an auto-generated cover image for every document. E.g. a fractal.

However here it is.

![substance-layout](https://f.cloud.github.com/assets/2931/322298/2c914348-9a3d-11e2-9eae-78bf6277e0cd.png)

I was also thinking about a sub

[2013-04-07 17:26] michael opened #58 "First iteration of new layout landed."
I've spent a lot of time thinking about general layout decisions for the hub. I've implemented a first iteration, which hopefully is a good baseline for the next Substance release.
## Landing page

![Screen Shot 2013-04-07 at 7 13 27 PM](https://f.cloud.github.com/assets/2931/349100/2cdc3208-9fa7-11e2-8440-12c511195702.png)

The new landing page at substance.io will show a selection of networks, w

[2013-04-07 17:37] michael opened #59 "Fix timestamps for published versions"
After a doc has been published it shows up as "in 2 hours". Not sure what's happening, but it looks like time-zone issues.

[2013-04-07 17:38] michael commented on #51
Implemented. Closing.

[2013-04-07 17:38] #51 closed, assigned to nobody

[2013-04-07 17:41] michael commented on #31
Cover images are now implemented. Closing.

[2013-04-07 17:41] #31 closed, assigned to nobody

[2013-04-07 17:42] michael commented on #29
Should we shift this to May? How are your schedules look like in the coming weeks?

[2013-04-14 15:59] michael opened #60 "Postgres Initialization"
Just saw the newly created postgres.init file.

[code]

I wonder if we should just set the password to 'substance' for faster setup? Or is there a way to parametrize the script somehow?

[2013-04-14 16:15] michael commented on #60
Maybe we should do the same for Redis? E.g. having multiple redis instances on different ports? Or is it just fine to use the ENV as the main scope?

[2013-04-16 10:59] obuchtala opened #61 "Expose hub credentials via service"
Just to keep this for records - definitely only a 'maybe'.
Currently, we have a setup that uses fixed client id and secret, which works well.

[2013-04-21 12:38] michael commented on #54
@yuchi How does your schedule look like in the next two weeks? There'd be a bunch of tasks pending for the Substance Admin panel that you could take care of. Let me know when you have time for a chat.

[2013-04-21 12:43] michael commented on #54
As for the networks administration: I've set up the models to support a simple moderation workflow. People will be able to post to the "Public" network instantly, while publications in other networks are not visible until we've accepted them. For that task we'd need a simple UI in the admin panel for reviewing and accepting publications. That way we can ensure we have quality content in our networ

[2013-04-21 12:45] michael commented on #58
@vectorsize Oliver and me will be busy with infrastructural stuff for a while.. so you could start tweaking/polishing the Hub Style at any time. Let's have Skype breakfast some time this week to coordinate a little bit. CU soon! :)

[2013-04-21 12:47] michael commented on #30
We'll should really look into this once we have the next release out.

[2013-04-21 22:25] michael opened #62 "Blobs and such"
Integrated your blob API with the Composer. Currently, I'm pushing the blobs one by one. Once they are all transfered, the actual version gets created.

[code]

However, we need to be careful not to mix up our Publishing Blob API with the Document API (used for replication).

In my opinion `/documents/:docId/blob/:blobId` should rather be the endpoint for the Replicator rather than being used in c

[2013-04-25 15:59] michael opened #63 "Make install script available to the public"
We need an easy way for users to build Substance locally, but without the hub.

We need a public version of the mothership, with a slightly modified script so users can do:

[code]

And:

[code]

[2013-04-27 06:55] michael opened #64 "Modularize API's"
Oliver and I talked about the possibility of splitting the Hub into several parts. So I just started modularizing the API:

Core:  This could be released as Open Source one day, it includes the authorization layer + document replication API (endpoint for RemoteStore).

Publications: That's substance.io specific and could live in a separate module one day. Also because replication and publication a

[2013-04-30 14:32] michael opened #65 "Create HubStore API that takes care about authentication/authorization"
Factor out stuff from lib/model/documents.js and use new HubStore API from /lib/routes/api/document_api.js

[2013-04-30 15:18] michael opened #66 "Unify error handling"
Use util/errors.js for the Hub too.

[2013-04-30 20:10] michael opened #67 "Consistent models"
I just started unifying all of our postgres models. Oliver and I decided every Substance data object should have an id property as a unique identifier. We'd like to get rid of compound primary keys (while we keep them as unique constraints). This makes it easier to identify objects and URL's get more dry (esp. with respect to RESTFUL URL's)

Have a look at the current schema:

https://github.com/m

[2013-05-01 09:20] michael opened #68 "Error when installing"
Victor had that problem when executing `./update.sh`.

[code]

[2013-05-01 14:20] obuchtala commented on #68
This is actually obsolete as we integrated the test.
However, i don't have a clue what objective-shit is talking about...
I'll fix it later.
Am 01.05.2013 11:20 schrieb "Michael Aufreiter" notifications@github.com:

[2013-05-01 16:58] vectorsize commented on #68
In [this stackoverflow](http://stackoverflow.com/questions/11425976/compiler-error-expected-method-not-found-when-using-subscript-on-nsarray) comment it says:

I have OSX 10.7.5 that might be something…

[2013-05-03 10:56] obuchtala commented on #67
accepted.

[2013-05-03 10:57] obuchtala commented on #67
For the user table: we add 'id' being quasi redundant to 'username'.
Later it allows us to take the username as a configurable alias.

[2013-05-05 15:12] michael commented on #62
Done.

[2013-05-05 15:12] #62 closed, assigned to obuchtala

[2013-05-06 12:26] obuchtala opened #69 "Garbage collection for blobs"
Currently, blobs are not deleted. Referenced blobs should be protected from deletion.
The others could be removed sometimes.
Maybe this should be a task of the composer?

[2013-05-07 16:22] obuchtala commented on #68
Done by victor.

[2013-05-07 16:22] #68 closed, assigned to obuchtala

[2013-05-07 16:23] obuchtala commented on #65
Done.

[2013-05-07 16:23] #65 closed, assigned to Integral

[2013-05-07 16:25] obuchtala commented on #64
Done this.

[2013-05-07 16:26] obuchtala commented on #64
We should have a code review iteration and decide on some more quasi-principles and quasi-guide-lines.

[2013-05-07 16:28] obuchtala commented on #46
I suppose, this is done.

[2013-05-15 12:08] michael opened #70 "Skip application authentication when hub is accessed from the web-client."
Hey Pier,

got a quick task for you. :)

We're now exposing the composer in the browser.

http://localhost:3001/composer

Now I wonder if we could skip the application authentication since client and server are quasi the same in that case. I just don't want to expose client-id / client-secret to the web client directly.

Maybe you can adjust authenticateApplication, so it skips that check if the r

[2013-06-24 21:21] michael opened #71 "Funding options"
Just for the record:

http://www.zit.co.at/foerderungen/calls/call-from-science-to-products-2013.html

[2013-06-25 11:19] michael opened #72 "The perfect seed."
For developing a proper UI of the composer we need some good example data. So a great basis to work with would be the current set of eLife documents.

Can we create a dynamic seeding mechanism for dev that would just pull in all the eLife docs from:

http://elife-converter.herokuapp.com/documents

and for each document:

http://elife-converter.herokuapp.com/documents/00048

?

[2013-06-25 11:44] Integral commented on #72
Hi! Did you mean parsing that data and save it in our database?

[2013-06-25 11:45] michael commented on #72
Yep. Should be fairly simple since the eLife format already conforms to the substance doc format. So actually no parsing involved here ;)

[2013-06-25 12:11] Integral commented on #72
Sorry, missed some changes. Could you point me to db API?
So we need something like button "load test data" to get all data from lens API?
And sorry - I'm not pretty familiar with document model. Is it true that `type` object is something like schema for `objects`? So http://elife-converter.herokuapp.com/documents is part of document model too?

[2013-06-25 13:02] Integral commented on #72
So I see many properties in lens schema. Do we need to save them? Or we just need to use our schema which is described in `schema.json`?

[2013-06-25 13:10] michael commented on #72
Don't worry about it for now.. we changed so much, it just takes a while until the code is consistent again. Will keep you posted. :)

[2013-06-25 13:14] Integral commented on #72
Thx. Sorry.

[2013-06-25 14:24] michael commented on #72
I'm currently working on a big redesign...  you could definitely help by creating design sketches. How much time will you be able to spend working on Substance in the coming 6 weeks ? Just for rough task planning. We'd like to get a solid release ready before end of summer.. so there's definitely a lot of stuff that we could need help with.

[2013-06-25 14:26] michael commented on #72
first mockup of the new vertical split layout..

![screen shot 2013-06-25 at 4 24 56 pm](https://f.cloud.github.com/assets/2931/703077/1b9a7d62-dda3-11e2-8293-5d0328791428.png)

[2013-06-25 14:32] Integral commented on #72
Looks fascinatingly. Well, I think that I could spend about 6 hours per
week. I can help with sketches/css/jade/local javascript.

On 25 June 2013 18:26, Michael Aufreiter notifications@github.com wrote:

[2013-06-25 14:33] Integral commented on #72
Or with backbone if you have plans to use views like with lenses.

On 25 June 2013 18:32, beilinson@gmail.com beilinson@gmail.com wrote:

[2013-06-25 14:36] michael commented on #72
You're more than welcome. :)  I'll think about suitable tasks that can be done independently. Will assign issues to you, and you can choose which ones you like to take. Just gimme some more time :)

[2013-06-25 14:42] Integral commented on #72
Cool! I'll be waiting. But I'm sorry if I'll ask you a lot of questions :)
And sorry for bumping this issue.
Thanks!

On 25 June 2013 18:36, Michael Aufreiter notifications@github.com wrote:

[2013-06-25 14:46] michael commented on #72
I hope we have working version of the stack by the end of the week. I'll give you instructions how to install. It's hard to keep in sync the documentation since we're changing so much.

[2013-06-25 17:30] Integral commented on #71
What about [this](http://www.kickstarter.com) and [this](http://www.shuttleworthfoundation.org/funding/fellowship-programme/)?

[2013-07-04 17:04] michael opened #73 "Use Substance.errors for the hub"

[2013-07-04 17:09] michael opened #74 "Create Substance.Operator instead of Chronicle.ot"

[2013-07-10 19:57] michael commented on #74
Done.

[2013-07-10 19:57] #74 closed, assigned to obuchtala

[2014-10-06 21:42] #16 closed, assigned to yuchi

[2014-10-06 21:42] #20 closed, assigned to nobody

[2014-12-01 14:40] #33 closed, assigned to yuchi

[2014-12-01 14:40] #36 closed, assigned to vectorsize

[2017-09-01 10:29] yuchi commented on #42
Closing for obsolescence

[2017-09-01 10:29] #42 closed, assigned to yuchi

[2017-09-01 10:30] yuchi commented on #41
Closing for obsolescence

[2017-09-01 10:30] #41 closed, assigned to yuchi

[2017-09-01 10:30] yuchi commented on #34
Closing for obsolescence

[2017-09-01 10:30] #34 closed, assigned to vectorsize